@font-face{
    font-family: 'Axiforma';
    src: url(./fonts/Kastelov\ -\ Axiforma\ Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Axiforma';
    src: url(./fonts/Kastelov\ -\ Axiforma\ Book.otf);
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: 'CircularStd';
    src: url(./fonts/CircularStd-Bold.ttf);
    font-style: normal;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    position: relative;
    margin: auto;
    background-image: url(img/muw.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

section{
    margin: auto;
    position: absolute;
    top: 0;
    left: 45vw;
    z-index: 1;
    transform: translate(-20%, 10%);
}

h2{
    font-family: CircularStd;
    color: white;
    font-size: 1.5rem;
}

h3{
    color: white;
    font-family: Axiforma;
    font-weight: 400;
    font-size: 1rem;
}

main::after{ 
    content: "";
    background: black;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9
}

#mag, #college, #read{
    text-align: center;
}

#college{
    margin: 30px 0;
}

#read button{
    font-family: Axiforma;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;

}

#title{
    text-align: center;
}

#mag{
    padding-top: 10%;
}

#read{
    margin-top: 14vh;
}

header{
    min-height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
}

#pub{

    width: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 10px;
}

header h2{
    padding-top: 2.6vh;
}

#border{
    margin: 20px;
}

@media screen and (max-width:1000px){

    section{
        width: 95%;
        transform: translate(-32%, 10%);
    }

    header, #pub iframe{
        width: 100%;
    }

}

@media screen and (max-width:850px){

    main{
        width: 100%;
    }

    header, #pub{
        width: 100%;
    }
}

@media screen and (max-width:450px){

    section{
        transform: translate(-43%, 10%);
    }

}
